{% include 'espClient/block/header.twig' %}
<div class="container">
    <header class="header">
        <h1>Mes Chantiers</h1>
        <div class="blocUser">
            <p>{{ user }}</p>
            <div><a href="deconnexion"><img src="/src/assets/img/desktop/power.svg" alt=""></a></div>
        </div>
    </header>
    <div class="listHeader">
        <ul>
            <li class="active">Mes factures</li>
            <li>Mes plans</li>
        </ul>
    </div>
    <div class="list" id="listFacture">
        <ul>
            {% for facture in factures %}
                <li>
                    <p class="list__lieu">{{ facture.chantier_name }}</p>
                    <p><b>Nom</b> : facture</p>
                    <p><a href="{{ facture.path }}"><img src="/app/assets/img/desktop/oeil.png" alt=""></a></p>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="list hidden" id="listPlan">
        <ul>
            {% for plan in plans %}
            <li>
                <p class="list__lieu">{{ plan.chantier_name }}</p>
                <p><b>Livraison</b> : 01/05/2018</p>
                <p><a href="{{ plan.path }}"><img src="/app/assets/img/desktop/oeil.png" alt=""></a></p>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% include 'espClient/block/footer.twig' %}