{% include 'admin/block/header.twig' %}

<body>
<div class="content-form">
    <form method="POST" action="">
        <div class="form-group">
            <label for="exampleInputEmail1">Adresse email</label>
            <input name="email" value="{{ admin_infos.email }}" type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Nom</label>
            <input name="name" value="{{ admin_infos.name }}" type="text" class="form-control" id="exampleInputEmail1" placeholder="Nom">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Prénom</label>
            <input name="lastname" type="text" value="{{ admin_infos.lastname }}" class="form-control" id="exampleInputEmail1" placeholder="Prénom">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input name="password" value="{{ admin_infos.password }}" type="password" class="form-control" id="exampleInputPassword1"
                   placeholder="Password">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Confirmer le password</label>
            <input name="password_confirm" value="{{ admin_infos.password }}" type="password" class="form-control" id="exampleInputPassword1"
                   placeholder="Confirmer password">
        </div>
        {% if code is defined %}
            {% if code == false %}
                <p style="color: red">Les mots de passe ne correspondent pas.</p>
            {% endif %}
        {% endif %}
        <button type="submit" class="btn btn-default">Enregistrer mes informations</button>
        {% if code is defined %}
            {% if code == true %}
                <h3 style="text-align: center"><span class="label label-success">Le compte administrateur a bien été mis à jour</span></h3>
            {% endif %}
        {% endif %}
    </form>
</div>

</body>

{% include 'admin/block/footer.twig' %}